@mixin font-graphil($size: false, $color: false, $weight: false, $lh: false) {
	font-family: 'Roboto Flex';
	@if $size {
		font-size: $size;
	}
	@if $color {
		color: $color;
	}
	@if $weight {
		font-weight: $weight;
	}
	@if $lh {
		line-height: $lh;
	}
}

@mixin flex($flex: false, $justify: false, $direction: false, $align: false) {
	@if $flex {
		display: $flex;
	}
	@if $justify {
		justify-content: $justify;
	}
	@if $direction {
		flex-direction: $direction;
	}
	@if $align {
		align-items: $align;
	}
}
